body {
  background-color: #171717;
  background-image: url("../../assets/img/hex.png");
  background-repeat: repeat;
}

h1 {
  text-align: center;
  width: 100$;
  font-family: "Verdana", sans-serif;
}

#app {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.main {
  justify-content: flex-start;
  background-color: #EEEEEE;
  max-width: 900px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
}

.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.navElement {
  color: #434343;
}

.headshot {
  width: 175px;
  margin: 10px;
  margin-left: 25px;
  margin-top: 0px;
  float: left;
}

.horizontalDivider {
    margin: 10px 0;
    height: 1px;
    background: #171717;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#EEEEEE), to(#EEEEEE), color-stop(50%, black));
}