body {
  background-color: #171717;
  background-image: url("../../assets/img/hex.png");
  background-repeat: repeat;
}

h1 {
  text-align: center;
  width: 100$;
  font-family: "Verdana", sans-serif;
}

#app {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.main {
  justify-content: flex-start;
  background-color: #EEEEEE;
  max-width: 900px;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
}

.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.navElement {
  color: #434343;
  font-size: 125%;
  font-weight: bold;
}

.headshot {
  width: 175px;
  margin: 10px;
  margin-left: 25px;
  margin-top: 0px;
  /*float: middle;*/
}

.horizontalDivider {
  margin: 10px 0;
  height: 1px;
  background: #171717;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#EEEEEE), to(#EEEEEE), color-stop(50%, black));
}

.aboutPageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.aboutPageHeaderElement {
}

.rightAlign {
  text-align: right;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
       -o-transform: rotate(120deg);
          transform: rotate(120deg);
  cursor: pointer;
    }
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../assets/img/headshot.jpg");
  visibility: visible;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
/*.hexagon-in2:hover {
  background-image: url(http://placekitten.com/241/241);
}*/

.hexagon1 {
  width: 400px;
  height: 200px;
  margin: 0 0 0 -80px;
}
